In [3]:
import os
#import scipy.stats
import pandas as pd

#scipy.stats.pearsonr()
df = pd.read_csv('totalLendsBTC.csv')

In [4]:
df_grouped = df.groupby(pd.DatetimeIndex(df['Date']).to_period('H')).nth(0)

In [21]:
df2 = pd.read_csv('vwapHourlyBTCUSD.csv')

In [23]:
df2

         Timestamp             datetime        close       volume
0       1522800000  2018-04-04 00:00:00  7412.472267  1043.970046
1       1522796400  2018-04-03 23:00:00  7380.189997  1308.018265
2       1522792800  2018-04-03 22:00:00  7404.486640  1116.924269
3       1522789200  2018-04-03 21:00:00  7436.483644  1501.435002
4       1522785600  2018-04-03 20:00:00  7479.585179  2094.046848
5       1522782000  2018-04-03 19:00:00  7458.950985  1873.689027
6       1522778400  2018-04-03 18:00:00  7399.763421  1241.631906
7       1522774800  2018-04-03 17:00:00  7411.832328  1874.177574
8       1522771200  2018-04-03 16:00:00  7381.135334  1909.370049
9       1522767600  2018-04-03 15:00:00  7310.453224  3209.593272
10      1522764000  2018-04-03 14:00:00  7376.089032  2440.437772
11      1522760400  2018-04-03 13:00:00  7353.629078  1086.087872
12      1522756800  2018-04-03 12:00:00  7323.875314   769.189996
13      1522753200  2018-04-03 11:00:00  7321.144667  2408.051247
14      1522749600  2018-04-03 10:00:00  7359.941712  1434.721112
15      1522746000  2018-04-03 09:00:00  7373.829099  2051.315675
16      1522742400  2018-04-03 08:00:00  7377.792066  2835.280490
17      1522738800  2018-04-03 07:00:00  7337.731620  1959.300644
18      1522735200  2018-04-03 06:00:00  7334.147604  3217.131345
19      1522731600  2018-04-03 05:00:00  7289.380859  7066.167311
20      1522728000  2018-04-03 04:00:00  7163.634193  1760.318238
21      1522724400  2018-04-03 03:00:00  7122.553379  2541.920451
22      1522720800  2018-04-03 02:00:00  7034.640846   581.398296
23      1522717200  2018-04-03 01:00:00  7063.737908  1975.881376
24      1522713600  2018-04-03 00:00:00  7041.274710  2044.734230
25      1522710000  2018-04-02 23:00:00  7026.083167  1285.061504
26      1522706400  2018-04-02 22:00:00  6978.701826  1574.558443
27      1522702800  2018-04-02 21:00:00  6924.519851  2041.478540
28      1522699200  2018-04-02 20:00:00  6980.262734   892.145965
29      1522695600  2018-04-02 19:00:00  6974.006758   972.062901
...            ...                  ...          ...          ...
387730  1364886000  2013-04-02 07:00:00   102.152400    70.000100
387731  1364882400  2013-04-02 06:00:00   100.862000  1329.838300
387732  1364878800  2013-04-02 05:00:00   105.116300   163.371300
387733  1364875200  2013-04-02 04:00:00   104.972900    88.363200
387734  1364871600  2013-04-02 03:00:00   103.518000    47.886000
387735  1364868000  2013-04-02 02:00:00   102.906400    45.761200
387736  1364864400  2013-04-02 01:00:00   103.243000    40.318800
387737  1364860800  2013-04-02 00:00:00   103.144100   180.100500
387738  1364857200  2013-04-01 23:00:00   105.103700    48.210400
387739  1364853600  2013-04-01 22:00:00   103.986500   174.337600
387740  1364850000  2013-04-01 21:00:00   103.391900     0.000000
387741  1364846400  2013-04-01 20:00:00   103.391900   227.086200
387742  1364842800  2013-04-01 19:00:00   102.500000     8.000000
387743  1364839200  2013-04-01 18:00:00   102.798200    43.105900
387744  1364835600  2013-04-01 17:00:00   103.601300   563.213800
387745  1364832000  2013-04-01 16:00:00   100.226600  1478.641100
387746  1364828400  2013-04-01 15:00:00   103.920400   650.914700
387747  1364824800  2013-04-01 14:00:00    98.758600    83.000000
387748  1364821200  2013-04-01 13:00:00    97.557800   218.816300
387749  1364817600  2013-04-01 12:00:00    95.148700   250.101700
387750  1364814000  2013-04-01 11:00:00    94.854100   228.550400
387751  1364810400  2013-04-01 10:00:00    94.230000     1.970000
387752  1364806800  2013-04-01 09:00:00    93.562400     3.807400
387753  1364803200  2013-04-01 08:00:00    94.293800     0.000000
387754  1364799600  2013-04-01 07:00:00    94.293800    84.000000
387755  1364796000  2013-04-01 06:00:00    93.728100    22.089900
387756  1364792400  2013-04-01 05:00:00    93.155000     5.000000
387757  1364788800  2013-04-01 04:00:00    92.571600    96.316200
387758  1364785200  2013-04-01 03:00:00    93.499600   466.311500
387759  1364781600  2013-04-01 02:00:00    93.250000    12.671500

[387760 rows x 4 columns]

In [16]:
df_grouped[(df_grouped['Timestamp']!=0) & (df_grouped['Date'] <= '2018-04-03 23:10') & (df_grouped['Date'] >= '2013-04-01 00:00')]

,Timestamp,Date,Avg Rate (%/day),Total Amount Active Swaps (BTC),Used,Unused
Date,,,,,,
2013-04-01 00:00,1364775187,2013-04-01 00:13:07,0.03037,1211.04000,0.00000,0.00000
2013-04-02 00:00,1364861506,2013-04-02 00:11:46,0.03511,248.95000,0.00000,0.00000
2013-04-03 00:00,1364947983,2013-04-03 00:13:03,0.03086,336.22000,0.00000,0.00000
2013-04-04 00:00,1365034358,2013-04-04 00:12:38,0.01504,672.93000,0.00000,0.00000
2013-04-05 00:00,1365120527,2013-04-05 00:08:47,0.02461,748.92000,0.00000,0.00000
2013-04-06 00:00,1365207247,2013-04-06 00:14:07,0.02397,689.62000,0.00000,0.00000
2013-04-07 00:00,1365292803,2013-04-07 00:00:03,0.02277,402.49000,0.00000,0.00000
2013-04-08 00:00,1365379323,2013-04-08 00:02:03,0.01575,382.15000,0.00000,0.00000
2013-04-13 00:00,1365812738,2013-04-13 00:25:38,0.02277,483.39210,0.00000,0.00000
2013-04-14 00:00,1365901038,2013-04-14 00:57:18,0.01812,560.56350,0.00000,0.00000
2013-04-15 00:00,1365985569,2013-04-15 00:26:09,0.03400,1032.67923,0.00000,0.00000
2013-04-16 00:00,1366073060,2013-04-16 00:44:20,0.01454,1027.36087,0.00000,0.00000
2013-04-17 00:00,1366159471,2013-04-17 00:44:31,0.03461,1496.84089,0.00000,0.00000
2013-04-18 00:00,1366246160,2013-04-18 00:49:20,0.01670,1010.38526,0.00000,0.00000
2013-04-19 00:00,1366333015,2013-04-19 00:56:55,0.01689,634.32778,0.00000,0.00000
2013-04-20 00:00,1366417910,2013-04-20 00:31:50,0.01592,809.91317,0.00000,0.00000
2013-04-21 00:00,1366503086,2013-04-21 00:11:26,0.01544,911.93656,0.00000,0.00000
2013-04-22 00:00,1366590372,2013-04-22 00:26:12,0.01512,1407.74180,0.00000,0.00000
2013-04-23 00:00,1366676857,2013-04-23 00:27:37,0.02648,1290.35166,0.00000,0.00000
2013-04-24 00:00,1366762392,2013-04-24 00:13:12,0.02566,1216.61457,0.00000,0.00000
2013-04-25 00:00,1366850555,2013-04-25 00:42:35,0.02658,239.76825,0.00000,0.00000
2013-04-26 00:00,1366936853,2013-04-26 00:40:53,0.02371,762.86364,0.00000,0.00000
2013-04-26 14:00,1366986471,2013-04-26 14:27:51,0.02314,363.45307,0.00000,0.00000
2013-04-26 15:00,1366989978,2013-04-26 15:26:18,0.02310,364.45307,0.00000,0.00000
2013-04-26 16:00,1366993585,2013-04-26 16:26:25,0.02283,365.14200,0.00000,0.00000
2013-04-26 17:00,1366997183,2013-04-26 17:26:23,0.02297,342.82307,0.00000,0.00000
2013-04-26 18:00,1367000781,2013-04-26 18:26:21,0.02305,394.98307,0.00000,0.00000
2013-04-26 19:00,1367004379,2013-04-26 19:26:19,0.02281,505.53307,0.00000,0.00000
2013-04-26 20:00,1367007978,2013-04-26 20:26:18,0.02287,514.38307,0.00000,0.00000
2013-04-26 21:00,1367011579,2013-04-26 21:26:19,0.02286,514.38307,0.00000,0.00000
...,...,...,...,...,...,...
2018-04-02 18:00,1522692301,2018-04-02 18:05:01,0.01964,56756.85736,56366.35352,390.50384
2018-04-02 19:00,1522695903,2018-04-02 19:05:03,0.01968,56818.71822,56442.16990,376.54832
2018-04-02 20:00,1522699501,2018-04-02 20:05:01,0.01972,56817.73152,56457.11777,360.61375
2018-04-02 21:00,1522703101,2018-04-02 21:05:01,0.01974,57333.23596,56974.31360,358.92236
2018-04-02 22:00,1522706700,2018-04-02 22:05:00,0.01978,56841.92343,56483.27001,358.65342
2018-04-02 23:00,1522710301,2018-04-02 23:05:01,0.01978,56986.42567,56626.14202,360.28365
2018-04-03 00:00,1522713900,2018-04-03 00:05:00,0.01979,56673.95607,56312.26851,361.68755
2018-04-03 01:00,1522717501,2018-04-03 01:05:01,0.01978,56641.59928,56280.06819,361.53109
2018-04-03 02:00,1522721100,2018-04-03 02:05:00,0.01979,56593.26231,56231.89299,361.36932
2018-04-03 03:00,1522724701,2018-04-03 03:05:01,0.01981,56326.87541,56016.59057,310.28484
2018-04-03 04:00,1522728301,2018-04-03 04:05:01,0.01976,56284.86524,55973.21595,311.64928
2018-04-03 05:00,1522731900,2018-04-03 05:05:00,0.01976,56653.48290,56336.04175,317.44115
2018-04-03 06:00,1522735500,2018-04-03 06:05:00,0.01977,57185.83895,56875.62921,310.20974
2018-04-03 07:00,1522739102,2018-04-03 07:05:02,0.01977,56930.39508,56620.36547,310.02961
2018-04-03 08:00,1522742700,2018-04-03 08:05:00,0.01978,56772.04065,56477.84909,294.19156
2018-04-03 09:00,1522746300,2018-04-03 09:05:00,0.01977,57261.50664,56958.05320,303.45343
2018-04-03 10:00,1522749900,2018-04-03 10:05:00,0.01978,57483.09245,57198.70439,284.38805
2018-04-03 11:00,1522753500,2018-04-03 11:05:00,0.01980,57288.11042,57013.44024,274.67018
2018-04-03 12:00,1522757102,2018-04-03 12:05:02,0.01981,56997.11442,56722.33872,274.77570
2018-04-03 13:00,1522760701,2018-04-03 13:05:01,0.01979,56905.87716,56630.65158,275.22558
2018-04-03 14:00,1522764301,2018-04-03 14:05:01,0.01979,56698.58582,56418.26531,280.32051
2018-04-03 15:00,1522767900,2018-04-03 15:05:00,0.01976,56947.16065,56665.62511,281.53554
2018-04-03 16:00,1522771501,2018-04-03 16:05:01,0.01968,56756.36216,56478.45000,277.91216
2018-04-03 17:00,1522775101,2018-04-03 17:05:01,0.01948,56454.22467,56185.12861,269.09606
2018-04-03 18:00,1522778701,2018-04-03 18:05:01,0.01939,56427.52979,56138.12850,289.40129
2018-04-03 19:00,1522782300,2018-04-03 19:05:00,0.01940,56426.26346,56138.37649,287.88696
2018-04-03 20:00,1522785901,2018-04-03 20:05:01,0.01939,56691.37902,56411.07760,280.30142
2018-04-03 21:00,1522789500,2018-04-03 21:05:00,0.01939,56620.50096,56340.28465,280.21631
2018-04-03 22:00,1522793100,2018-04-03 22:05:00,0.01939,56629.38249,56349.07010,280.31240
2018-04-03 23:00,1522796701,2018-04-03 23:05:01,0.01940,56952.16843,56671.44577,280.72267

In [24]:
df2_grouped = df2.groupby(pd.DatetimeIndex(df2['datetime']).to_period('H')).nth(0)

In [17]:
df2_grouped[(df2_grouped['Date'] <= '2018-04-03 23:10') & (df2_grouped['Date'] >= '2013-04-01 00:00')]

,Timestamp,Date,Vwar (%/day),Volume Swaps Opened (BTC)
Date,,,,
2013-04-01 13:00,1364821200,2013-04-01 13:00:00,0.035106,34.43068
2013-04-01 14:00,1364824800,2013-04-01 14:00:00,0.035106,30.88864
2013-04-01 15:00,1364828400,2013-04-01 15:00:00,0.035106,110.42200
2013-04-01 16:00,1364832000,2013-04-01 16:00:00,0.035106,92.56855
2013-04-01 17:00,1364835600,2013-04-01 17:00:00,0.035106,4.71125
2013-04-01 18:00,1364839200,2013-04-01 18:00:00,0.035106,0.00000
2013-04-01 19:00,1364842800,2013-04-01 19:00:00,0.035106,0.00000
2013-04-01 20:00,1364846400,2013-04-01 20:00:00,0.035106,22.58457
2013-04-01 21:00,1364850000,2013-04-01 21:00:00,0.005479,0.10000
2013-04-01 22:00,1364853600,2013-04-01 22:00:00,0.035106,32.24073
2013-04-01 23:00,1364857200,2013-04-01 23:00:00,0.035106,0.00000
2013-04-02 00:00,1364860800,2013-04-02 00:00:00,0.035106,0.00000
2013-04-02 01:00,1364864400,2013-04-02 01:00:00,0.035106,0.00000
2013-04-02 02:00,1364868000,2013-04-02 02:00:00,0.035106,5.00000
2013-04-02 03:00,1364871600,2013-04-02 03:00:00,0.035106,0.00000
2013-04-02 04:00,1364875200,2013-04-02 04:00:00,0.005479,2.81577
2013-04-02 05:00,1364878800,2013-04-02 05:00:00,0.005479,0.00000
2013-04-02 06:00,1364882400,2013-04-02 06:00:00,0.030862,293.74617
2013-04-02 07:00,1364886000,2013-04-02 07:00:00,0.030862,26.20885
2013-04-02 08:00,1364889600,2013-04-02 08:00:00,0.030862,0.00000
2013-04-02 09:00,1364893200,2013-04-02 09:00:00,0.030862,16.05861
2013-04-02 10:00,1364896800,2013-04-02 10:00:00,0.030862,0.00000
2013-04-02 11:00,1364900400,2013-04-02 11:00:00,0.023947,18.35400
2013-04-02 12:00,1364904000,2013-04-02 12:00:00,0.019324,110.00000
2013-04-02 13:00,1364907600,2013-04-02 13:00:00,0.030862,52.13209
2013-04-02 14:00,1364911200,2013-04-02 14:00:00,0.030862,11.86923
2013-04-02 15:00,1364914800,2013-04-02 15:00:00,0.030862,24.26634
2013-04-02 16:00,1364918400,2013-04-02 16:00:00,0.030862,101.25885
2013-04-02 17:00,1364922000,2013-04-02 17:00:00,0.030862,42.54990
2013-04-02 18:00,1364925600,2013-04-02 18:00:00,0.030862,0.00000
...,...,...,...,...
2018-04-02 18:00,1522692000,2018-04-02 18:00:00,0.018034,1266.52875
2018-04-02 19:00,1522695600,2018-04-02 19:00:00,0.018794,766.86112
2018-04-02 20:00,1522699200,2018-04-02 20:00:00,0.018273,835.87906
2018-04-02 21:00,1522702800,2018-04-02 21:00:00,0.019021,1077.67798
2018-04-02 22:00,1522706400,2018-04-02 22:00:00,0.017965,586.20121
2018-04-02 23:00,1522710000,2018-04-02 23:00:00,0.017901,817.39802
2018-04-03 00:00,1522713600,2018-04-03 00:00:00,0.017824,584.51207
2018-04-03 01:00,1522717200,2018-04-03 01:00:00,0.018472,610.79140
2018-04-03 02:00,1522720800,2018-04-03 02:00:00,0.018306,792.57104
2018-04-03 03:00,1522724400,2018-04-03 03:00:00,0.018132,850.40150
2018-04-03 04:00,1522728000,2018-04-03 04:00:00,0.016149,1035.46618
2018-04-03 05:00,1522731600,2018-04-03 05:00:00,0.018580,2276.89184
2018-04-03 06:00,1522735200,2018-04-03 06:00:00,0.018700,1709.56718
2018-04-03 07:00,1522738800,2018-04-03 07:00:00,0.017835,599.18820
2018-04-03 08:00,1522742400,2018-04-03 08:00:00,0.018936,1154.19066
2018-04-03 09:00,1522746000,2018-04-03 09:00:00,0.018579,1150.00647
2018-04-03 10:00,1522749600,2018-04-03 10:00:00,0.019194,806.12130
2018-04-03 11:00,1522753200,2018-04-03 11:00:00,0.018906,756.54372
2018-04-03 12:00,1522756800,2018-04-03 12:00:00,0.018186,492.71502
2018-04-03 13:00,1522760400,2018-04-03 13:00:00,0.018483,595.17428
2018-04-03 14:00,1522764000,2018-04-03 14:00:00,0.018147,862.33789
2018-04-03 15:00,1522767600,2018-04-03 15:00:00,0.018791,1098.02065
2018-04-03 16:00,1522771200,2018-04-03 16:00:00,0.018351,1359.65600
2018-04-03 17:00,1522774800,2018-04-03 17:00:00,0.016963,2112.94908
2018-04-03 18:00,1522778400,2018-04-03 18:00:00,0.015603,2666.82993
2018-04-03 19:00,1522782000,2018-04-03 19:00:00,0.016625,1703.22350
2018-04-03 20:00,1522785600,2018-04-03 20:00:00,0.017221,1555.32691
2018-04-03 21:00,1522789200,2018-04-03 21:00:00,0.018681,645.96954
2018-04-03 22:00,1522792800,2018-04-03 22:00:00,0.018473,470.28644
2018-04-03 23:00,1522796400,2018-04-03 23:00:00,0.018864,716.03073

In [25]:
merged_df = df2_grouped.merge(df_grouped, left_index=True, right_index=True)

In [30]:
merged_df['close_shift'] = merged_df['close'].shift(-1)

In [32]:
merged_df['return'] = merged_df['close_shift'] / merged_df['close']

In [33]:
merged_df

,Timestamp_x,datetime,close,volume,Timestamp_y,Date,Avg Rate (%/day),Total Amount Active Swaps (BTC),Used,Unused,close_shift,return
2013-04-01 00:00,1364774400,2013-04-01 00:00:00,18670.662804,0.000000,1364775187,2013-04-01 00:13:07,0.03037,1211.04000,0.00000,0.00000,18670.662804,1.000000
2013-04-02 00:00,1364860800,2013-04-02 00:00:00,18670.662804,0.000000,1364861506,2013-04-02 00:11:46,0.03511,248.95000,0.00000,0.00000,18670.662804,1.000000
2013-04-03 00:00,1364947200,2013-04-03 00:00:00,18670.662804,0.000000,1364947983,2013-04-03 00:13:03,0.03086,336.22000,0.00000,0.00000,18670.662804,1.000000
2013-04-04 00:00,1365033600,2013-04-04 00:00:00,18670.662804,0.000000,1365034358,2013-04-04 00:12:38,0.01504,672.93000,0.00000,0.00000,18670.662804,1.000000
2013-04-05 00:00,1365120000,2013-04-05 00:00:00,18670.662804,0.000000,1365120527,2013-04-05 00:08:47,0.02461,748.92000,0.00000,0.00000,18670.662804,1.000000
2013-04-06 00:00,1365206400,2013-04-06 00:00:00,18670.662804,0.000000,1365207247,2013-04-06 00:14:07,0.02397,689.62000,0.00000,0.00000,18670.662804,1.000000
2013-04-07 00:00,1365292800,2013-04-07 00:00:00,18670.662804,0.000000,1365292803,2013-04-07 00:00:03,0.02277,402.49000,0.00000,0.00000,18670.662804,1.000000
2013-04-08 00:00,1365379200,2013-04-08 00:00:00,18670.662804,0.000000,1365379323,2013-04-08 00:02:03,0.01575,382.15000,0.00000,0.00000,18670.662804,1.000000
2013-04-13 00:00,1365811200,2013-04-13 00:00:00,18670.662804,0.000000,1365812738,2013-04-13 00:25:38,0.02277,483.39210,0.00000,0.00000,18670.662804,1.000000
2013-04-14 00:00,1365897600,2013-04-14 00:00:00,18670.662804,0.000000,1365901038,2013-04-14 00:57:18,0.01812,560.56350,0.00000,0.00000,18670.662804,1.000000
2013-04-15 00:00,1365984000,2013-04-15 00:00:00,18670.662804,0.000000,1365985569,2013-04-15 00:26:09,0.03400,1032.67923,0.00000,0.00000,18670.662804,1.000000
2013-04-16 00:00,1366070400,2013-04-16 00:00:00,18670.662804,0.000000,1366073060,2013-04-16 00:44:20,0.01454,1027.36087,0.00000,0.00000,18670.662804,1.000000
2013-04-17 00:00,1366156800,2013-04-17 00:00:00,18670.662804,0.000000,1366159471,2013-04-17 00:44:31,0.03461,1496.84089,0.00000,0.00000,18670.662804,1.000000
2013-04-18 00:00,1366243200,2013-04-18 00:00:00,18670.662804,0.000000,1366246160,2013-04-18 00:49:20,0.01670,1010.38526,0.00000,0.00000,18670.662804,1.000000
2013-04-19 00:00,1366329600,2013-04-19 00:00:00,18670.662804,0.000000,1366333015,2013-04-19 00:56:55,0.01689,634.32778,0.00000,0.00000,18670.662804,1.000000
2013-04-20 00:00,1366416000,2013-04-20 00:00:00,18670.662804,0.000000,1366417910,2013-04-20 00:31:50,0.01592,809.91317,0.00000,0.00000,18670.662804,1.000000
2013-04-21 00:00,1366502400,2013-04-21 00:00:00,18670.662804,0.000000,1366503086,2013-04-21 00:11:26,0.01544,911.93656,0.00000,0.00000,18670.662804,1.000000
2013-04-22 00:00,1366588800,2013-04-22 00:00:00,18670.662804,0.000000,1366590372,2013-04-22 00:26:12,0.01512,1407.74180,0.00000,0.00000,18670.662804,1.000000
2013-04-23 00:00,1366675200,2013-04-23 00:00:00,18670.662804,0.000000,1366676857,2013-04-23 00:27:37,0.02648,1290.35166,0.00000,0.00000,18670.662804,1.000000
2013-04-24 00:00,1366761600,2013-04-24 00:00:00,18670.662804,0.000000,1366762392,2013-04-24 00:13:12,0.02566,1216.61457,0.00000,0.00000,18670.662804,1.000000
2013-04-25 00:00,1366848000,2013-04-25 00:00:00,18670.662804,0.000000,1366850555,2013-04-25 00:42:35,0.02658,239.76825,0.00000,0.00000,18670.662804,1.000000
2013-04-26 00:00,1366934400,2013-04-26 00:00:00,18670.662804,0.000000,1366936853,2013-04-26 00:40:53,0.02371,762.86364,0.00000,0.00000,18670.662804,1.000000
2013-04-26 14:00,1366984800,2013-04-26 14:00:00,18670.662804,0.000000,1366986471,2013-04-26 14:27:51,0.02314,363.45307,0.00000,0.00000,18670.662804,1.000000
2013-04-26 15:00,1366988400,2013-04-26 15:00:00,18670.662804,0.000000,1366989978,2013-04-26 15:26:18,0.02310,364.45307,0.00000,0.00000,18670.662804,1.000000
2013-04-26 16:00,1366992000,2013-04-26 16:00:00,18670.662804,0.000000,1366993585,2013-04-26 16:26:25,0.02283,365.14200,0.00000,0.00000,18670.662804,1.000000
2013-04-26 17:00,1366995600,2013-04-26 17:00:00,18670.662804,0.000000,1366997183,2013-04-26 17:26:23,0.02297,342.82307,0.00000,0.00000,18670.662804,1.000000
2013-04-26 18:00,1366999200,2013-04-26 18:00:00,18670.662804,0.000000,1367000781,2013-04-26 18:26:21,0.02305,394.98307,0.00000,0.00000,18670.662804,1.000000
2013-04-26 19:00,1367002800,2013-04-26 19:00:00,18670.662804,0.000000,1367004379,2013-04-26 19:26:19,0.02281,505.53307,0.00000,0.00000,18670.662804,1.000000
2013-04-26 20:00,1367006400,2013-04-26 20:00:00,18670.662804,0.000000,1367007978,2013-04-26 20:26:18,0.02287,514.38307,0.00000,0.00000,18670.662804,1.000000
2013-04-26 21:00,1367010000,2013-04-26 21:00:00,18670.662804,0.000000,1367011579,2013-04-26 21:26:19,0.02286,514.38307,0.00000,0.00000,18670.662804,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-02 19:00,1522695600,2018-04-02 19:00:00,6974.006758,972.062901,1522695903,2018-04-02 19:05:03,0.01968,56818.71822,56442.16990,376.54832,6980.262734,1.000897
2018-04-02 20:00,1522699200,2018-04-02 20:00:00,6980.262734,892.145965,1522699501,2018-04-02 20:05:01,0.01972,56817.73152,56457.11777,360.61375,6924.519851,0.992014
2018-04-02 21:00,1522702800,2018-04-02 21:00:00,6924.519851,2041.478540,1522703101,2018-04-02 21:05:01,0.01974,57333.23596,56974.31360,358.92236,6978.701826,1.007825
2018-04-02 22:00,1522706400,2018-04-02 22:00:00,6978.701826,1574.558443,1522706700,2018-04-02 22:05:00,0.01978,56841.92343,56483.27001,358.65342,7026.083167,1.006789
2018-04-02 23:00,1522710000,2018-04-02 23:00:00,7026.083167,1285.061504,1522710301,2018-04-02 23:05:01,0.01978,56986.42567,56626.14202,360.28365,7041.274710,1.002162
2018-04-03 00:00,1522713600,2018-04-03 00:00:00,7041.274710,2044.734230,1522713900,2018-04-03 00:05:00,0.01979,56673.95607,56312.26851,361.68755,7063.737908,1.003190
2018-04-03 01:00,1522717200,2018-04-03 01:00:00,7063.737908,1975.881376,1522717501,2018-04-03 01:05:01,0.01978,56641.59928,56280.06819,361.53109,7034.640846,0.995881
2018-04-03 02:00,1522720800,2018-04-03 02:00:00,7034.640846,581.398296,1522721100,2018-04-03 02:05:00,0.01979,56593.26231,56231.89299,361.36932,7122.553379,1.012497
2018-04-03 03:00,1522724400,2018-04-03 03:00:00,7122.553379,2541.920451,1522724701,2018-04-03 03:05:01,0.01981,56326.87541,56016.59057,310.28484,7163.634193,1.005768
2018-04-03 04:00,1522728000,2018-04-03 04:00:00,7163.634193,1760.318238,1522728301,2018-04-03 04:05:01,0.01976,56284.86524,55973.21595,311.64928,7289.380859,1.017553
2018-04-03 05:00,1522731600,2018-04-03 05:00:00,7289.380859,7066.167311,1522731900,2018-04-03 05:05:00,0.01976,56653.48290,56336.04175,317.44115,7334.147604,1.006141
2018-04-03 06:00,1522735200,2018-04-03 06:00:00,7334.147604,3217.131345,1522735500,2018-04-03 06:05:00,0.01977,57185.83895,56875.62921,310.20974,7337.731620,1.000489
2018-04-03 07:00,1522738800,2018-04-03 07:00:00,7337.731620,1959.300644,1522739102,2018-04-03 07:05:02,0.01977,56930.39508,56620.36547,310.02961,7377.792066,1.005460
2018-04-03 08:00,1522742400,2018-04-03 08:00:00,7377.792066,2835.280490,1522742700,2018-04-03 08:05:00,0.01978,56772.04065,56477.84909,294.19156,7373.829099,0.999463
2018-04-03 09:00,1522746000,2018-04-03 09:00:00,7373.829099,2051.315675,1522746300,2018-04-03 09:05:00,0.01977,57261.50664,56958.05320,303.45343,7359.941712,0.998117
2018-04-03 10:00,1522749600,2018-04-03 10:00:00,7359.941712,1434.721112,1522749900,2018-04-03 10:05:00,0.01978,57483.09245,57198.70439,284.38805,7321.144667,0.994729
2018-04-03 11:00,1522753200,2018-04-03 11:00:00,7321.144667,2408.051247,1522753500,2018-04-03 11:05:00,0.01980,57288.11042,57013.44024,274.67018,7323.875314,1.000373
2018-04-03 12:00,1522756800,2018-04-03 12:00:00,7323.875314,769.189996,1522757102,2018-04-03 12:05:02,0.01981,56997.11442,56722.33872,274.77570,7353.629078,1.004063
2018-04-03 13:00,1522760400,2018-04-03 13:00:00,7353.629078,1086.087872,1522760701,2018-04-03 13:05:01,0.01979,56905.87716,56630.65158,275.22558,7376.089032,1.003054
2018-04-03 14:00,1522764000,2018-04-03 14:00:00,7376.089032,2440.437772,1522764301,2018-04-03 14:05:01,0.01979,56698.58582,56418.26531,280.32051,7310.453224,0.991102
2018-04-03 15:00,1522767600,2018-04-03 15:00:00,7310.453224,3209.593272,1522767900,2018-04-03 15:05:00,0.01976,56947.16065,56665.62511,281.53554,7381.135334,1.009669
2018-04-03 16:00,1522771200,2018-04-03 16:00:00,7381.135334,1909.370049,1522771501,2018-04-03 16:05:01,0.01968,56756.36216,56478.45000,277.91216,7411.832328,1.004159
2018-04-03 17:00,1522774800,2018-04-03 17:00:00,7411.832328,1874.177574,1522775101,2018-04-03 17:05:01,0.01948,56454.22467,56185.12861,269.09606,7399.763421,0.998372
2018-04-03 18:00,1522778400,2018-04-03 18:00:00,7399.763421,1241.631906,1522778701,2018-04-03 18:05:01,0.01939,56427.52979,56138.12850,289.40129,7458.950985,1.007999
2018-04-03 19:00,1522782000,2018-04-03 19:00:00,7458.950985,1873.689027,1522782300,2018-04-03 19:05:00,0.01940,56426.26346,56138.37649,287.88696,7479.585179,1.002766
2018-04-03 20:00,1522785600,2018-04-03 20:00:00,7479.585179,2094.046848,1522785901,2018-04-03 20:05:01,0.01939,56691.37902,56411.07760,280.30142,7436.483644,0.994237
2018-04-03 21:00,1522789200,2018-04-03 21:00:00,7436.483644,1501.435002,1522789500,2018-04-03 21:05:00,0.01939,56620.50096,56340.28465,280.21631,7404.486640,0.995697
2018-04-03 22:00,1522792800,2018-04-03 22:00:00,7404.486640,1116.924269,1522793100,2018-04-03 22:05:00,0.01939,56629.38249,56349.07010,280.31240,7380.189997,0.996719
2018-04-03 23:00,1522796400,2018-04-03 23:00:00,7380.189997,1308.018265,1522796701,2018-04-03 23:05:01,0.01940,56952.16843,56671.44577,280.72267,7412.472267,1.004374
2018-04-04 00:00,1522800000,2018-04-04 00:00:00,7412.472267,1043.970046,1522800300,2018-04-04 00:05:00,0.01940,57113.79520,56828.88481,284.91039,NaN,NaN

In [37]:
scipy.stats.pearsonr(merged_df['return'], merged_df['Total Amount Active Swaps (BTC)'])

(-0.004171883052428881, 0.40082785752433459)

In [35]:
merged_df = merged_df.dropna()